/* *********** Apple SD Gothic */
@font-face {
  font-family: 'Apple';
  src: url('./assets/font/AppleSDGothicNeoL.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Apple';
  src: url('./assets/font/AppleSDGothicNeoR.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Apple';
  src: url('./assets/font/AppleSDGothicNeoM.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Apple';
  src: url('./assets/font/AppleSDGothicNeoSB.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Apple';
  src: url('./assets/font/AppleSDGothicNeoB.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Apple';
  src: url('./assets/font/AppleSDGothicNeoEB.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Apple';
  src: url('./assets/font/AppleSDGothicNeoH.ttf');
  font-weight: 900;
  font-style: normal;
}